<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;0,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="#homePage">
            <img src="./images/logo_name.png" alt="" width="50" height="34" class="d-inline-block align-text-top">
            &nbsp;
            Flea Fair
          </a>
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#featureGallery">Feature Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#documentation">Documentation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#technologies">Technologies</a>
            </li>
          </ul>
        </div>
    </nav>

    <div id="homePage" data-role="page">
        <div class="row">
          <div class="col description">
            <br>
            <h1 class="heading">Buy and Sell Everything</h1>
            <br>
            <h3 class="para">Be it old or be it new, it can be traded</h3>
            <h3 class="para">Download Now!!!</h3>
            <div class="btns">
              <a href="#">
                <img src="./images/ap.png" alt="gp" width="20px" height="20px"> Apple Store
              </a>
              <a href="#">
                <img src="./images/gp.png" alt="gp" width="20px" height="20px"> Play Store
              </a>
            </div>
          </div>


          <div class="col">
            <img src="./images/poster.jpg" height="650px" width="850px" alt="poster">
          </div>
        </div>
    </div>

    <div id="featureGallery" data-role="page">

      <h1 class="heading" style="text-align: center;">Feature Gallery</h1>

      <div class="container">
        <div class="card mb-3 leftCard">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="./images/temp.jpeg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque tempore non ad alias, accusantium excepturi veniam placeat vero delectus asperiores eius expedita quas pariatur dolore! Odio veniam quaerat maiores non eligendi reprehenderit, explicabo voluptates earum modi, autem tenetur excepturi sint mollitia delectus corrupti repudiandae exercitationem aliquid! Exercitationem dolorem vel delectus.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="card mb-3 rightCard">
          <div class="row no-gutters">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quam qui dolorum beatae, optio obcaecati! Nam odit voluptatibus excepturi voluptatum ex necessitatibus, velit repellendus veniam asperiores vero eius natus! Soluta ullam tempora quas, est nihil quis hic expedita dicta enim a, esse modi fuga. Quod perspiciatis architecto exercitationem debitis totam?</p>
              </div>
            </div>
            <div class="col-md-4">
              <img src="./images/temp.jpeg" class="card-img" alt="...">
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="card mb-3 leftCard">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="./images/temp.jpeg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem aperiam eveniet, repudiandae ullam a nulla aut molestiae cupiditate natus aliquam reprehenderit tempora id corrupti, consectetur asperiores incidunt quod veritatis libero labore unde explicabo maxime delectus iusto! Beatae, tempora. Hic, dolore?</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="card mb-3 rightCard">
          <div class="row no-gutters">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem aperiam eveniet, repudiandae ullam a nulla aut molestiae cupiditate natus aliquam reprehenderit tempora id corrupti, consectetur asperiores incidunt quod veritatis libero labore unde explicabo maxime delectus iusto! Beatae, tempora. Hic, dolore?</p>
              </div>
            </div>
            <div class="col-md-4">
              <img src="./images/temp.jpeg" class="card-img" alt="...">
            </div>
          </div>
        </div>
      </div>


    </div>

    <div id="documentation" data-role="page">

      <h1 class="heading" style="text-align: center;">Documentation</h1>
      <p class="detail">
        This section consists of an overview of the API built and used, including detailed description for each
      </p>
    </div>

    <div id="technologies" data-role="page">

      <h1 class="heading" style="text-align: center;">Technologies</h1>

      <div class="container">
        <div class="row">
          <div class="col">
            <img class="rounded-circle z-depth-4" alt="100x100" src="./images/flutter.jpeg" width="200px" style="margin-top: 50px;"
              data-holder-rendered="true">
          </div> 
          <div class="col" style="padding: 50px;">
            <img class="rounded-circle z-depth-4" alt="100x100" src="./images/nodejs.png"
              data-holder-rendered="true">
          </div> 
          <div class="col" style="padding: 50px;">
            <img class="rounded-circle z-depth-4" alt="100x100" src="./images/mongodb.png"
              data-holder-rendered="true">
          </div>         
        </div>
      </div>
    </div>

    <section class="">
      <!-- Footer -->
      <footer class="text-center text-white" style="background-color: #12245e;;">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: CTA -->
          <section class="mb-4">
      
            <!-- Twitter -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #55acee;"
              href="https://twitter.com/khalkar_prasad"
              role="button"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #dd4b39;"
              href="aniketkhalkar791@gmail.com"
              role="button"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #ac2bac;"
              href="https://www.instagram.com/prasadk791/"
              role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #0082ca;"
              href="https://www.linkedin.com/in/prasad-khalkar-4931101b1/"
              role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <!-- Github -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #333333;"
              href="https://github.com/prasad-791"
              role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          <!-- Section: CTA -->
        </div>
        <!-- Grid container -->
    
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </section>
</body>
</html>